body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background: linear-gradient(135deg, #ffd54f, #ffb300);
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    padding: 25px;
    border-radius: 20px;
}

#cookie {
    width: 220px;
    cursor: pointer;
    transition: 0.1s;
}

#cookie:active {
    transform: scale(0.9);
}

button {
    margin: 8px;
    padding: 10px 15px;
    cursor: pointer;
}